<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Inmuebles</title>
</head>
<body>
    <h2>Buscar disponibilidad</h2>
    <form action="/buscar" method="get">
        Inicio: <input type="date" name="fechaInicio" th:value="${fechaInicio}" required/>
        Fin: <input type="date" name="fechaFin" th:value="${fechaFin}" required/>
        <button type="submit">Filtrar</button>
        <a href="/listarInmuebles">Ver todos</a>
    </form>
    
    <hr/>
    
    <h2>Acciones</h2>
    <a href="/inmueble/nuevo"><button>Añadir nuevo inmueble</button></a>
    
    <hr/>
    
    <h2>Inmuebles Disponibles</h2>
    
    <p th:if="${param.reservaExito}" style="color:green; font-weight:bold;">¡Reserva realizada con éxito!</p>
    <p th:if="${param.errorReserva}" style="color:red; font-weight:bold;">Error: Comprueba que el usuario existe o los datos son correctos.</p>

    <table border="1">
        <thead>
            <tr>
                <th>Dirección</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Reservar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="inmueble : ${lista}">
                <td th:text="${inmueble.direccion}"></td>
                <td th:text="${inmueble.precio}"></td>
                <td th:text="${inmueble.descripcion}"></td>
                <td>
                    <form action="/reservar" method="post">
                        <input type="hidden" name="idInmueble" th:value="${inmueble.id}" />
                        
                        <input type="text" name="loginUsuario" placeholder="Tu Login" required style="margin-bottom: 4px;"/><br>
                        Inicio: <input type="date" name="fechaInicio" required style="margin-bottom: 4px;"/><br>
                        Fin: <input type="date" name="fechaFin" required style="margin-bottom: 4px;"/><br>
                        
                        <button type="submit">Hacer Reserva</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>